* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #bebebe; */
  background-image: url('../public/wall1.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}